a {
    cursor: pointer;
}

.countdown-menu p{
  padding-right: 5px;
}

.author {
  color: dimgrey;
}

.rundown label{
  color: dimgrey;
  font-weight: bold;
}

.comment {
  border-bottom: 1px solid #AAA;
  margin-bottom: 5px;
}

img.brand-image{
  height: 40px;
  width: 60px;
    float:left;
}

.uparrow{
	background-image: url('/images/uparrow.png');
	background-position: left;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	cursor: pointer;
	padding-left: 20px;
	font-size: 20px;
}

.by-line, footer{
	font-size: x-small;
	color: dimgrey;
	font-weight: bold;
}

.unavailable {
    color: dimgrey;
}

.timer {
    color: rgba(255, 0, 0, 0.6);
    font-size: 1em;
    font-weight: bold;
}

.timer li {
    padding-right: 50%;
}

.hero-unit {
    /*background-image: url(../images/coffee_cup.png);*/
    background-repeat: no-repeat;
    background-position: right;
}