body {
    margin: 20px;
}
a {
    cursor: pointer;
}

.unavailable {
    color: dimgrey;
}

.available {
    fill: blue;
    stroke: none;
}

.unavailable {
    fill: grey;
    stroke: grey;
}

.selected {
    fill: green;
}

.seat {
    cursor: pointer;
}

.buy-now {
    margin-top: 5px;
}

.seat-row {
    border: 1px solid #AAA;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    box-shadow: 5px 5px 5px #AAA;
    text-align: center;
}

.row-name {
    float: right;
}

.row-name, .main-stage {
    color: dimgrey;
    font-weight: bold;
}

.main-stage {
    text-align: center;
}

progress {
    border-radius: 9px;
}

progress[value] {  
    background-color: #f3f3f3;  
    border: 0;  
    height: 18px;
    border-radius: 9px;
}  

progress[value]::-webkit-progress-bar {
    border-radius: 9px;
}

progress[value]::-webkit-progress-value {
    border-radius: 9px;
}