<div class="pure-u-1-2">
    <h2>Users</h2>
    <div ng-repeat="user in allUsers">
        <h5>How confused is {{user.id | limitTo:5}}?</h5>
        <div>
            <progress value="{{user.confusion}}" max="1000" ng-class="{}"></progress>
        </div>
    </div>   
</div>
<div class="pure-u-1" ng-init="consideration = '-consideration'">
    <h2>Most Popular Seats</h2>
    <ul ng-repeat="seat in seats | orderBy:consideration | limitTo:10">
        <li>{{seat.id.row}}-{{seat.id.seat}} : {{seat.consideration}}</li>
    </ul>
</div>