<div class="pure-u-1" ng-init="lockedIn = false;">
    <form action="" class="pure-form pure-form-aligned" ng-init="goldPrice = 100.00">
        <fieldset>
            <legend>How much gold would you like?</legend>
            <div class="pure-control-group">
                <label for="goldOunces.quanity">Ounces of Gold</label>
                <input type="text" name="goldOunces.quantity" ng-model="goldOunces.quantity" maxlength="3">
                <span class="price">{{pricePerOunce | currency}} / ounce</span>
                <span class="total" ng-show="goldOunces.total > 0">Total: {{goldOunces.total | currency}}</span>
            </div>
        </fieldset>
        <fieldset>
            <div class="pure-control-group">
                <label for="goldBars.quanity">Gold Bars</label>
                <input type="text" name="goldBars.quantity" ng-model="goldBars.quantity" min="0">
                <span class="price">{{goldBars.pricePerBar | currency}} / bar</span>
                <span class="total" ng-show="goldBars.total > 0">Total: {{goldBars.total | currency}}</span>
            </div>
        </fieldset>        
        <fieldset>
            <div class="pure-control-group">
                <label for="goldStatues.quanity">Golden Mantis Shrimp Statues</label>
                <input type="text" name="goldStatues.quantity" ng-model="goldStatues.quantity" min="0">
                <span class="price">{{goldStatues.pricePerStatue | currency}} / statue</span>
                <span class="total" ng-show="goldStatues.total > 0">Total: {{goldStatues.total | currency}}</span>
            </div>
        </fieldset>
    </form>
    <div class="pure-u-1">
            <button class="pure-button" ng-disabled="!timer.expired" ng-click="start();">
                <span ng-show="timer.expired">Lock in Rate</span>
                <span class="timer" ng-show="!timer.expired">{{duration.minutes() | timer}}:{{duration.seconds() | timer}}</span>
            </button>
            <button class="pure-button" ng-disabled="timer.expired">Buy now for {{cart.total | currency}}</button>
    </div>
</div>

